<|begin_of_text|>{% if system %}<|start_header_id|>system<|end_header_id|>

{{ system }}<|eot_id|>{% endif %}<|start_header_id|>user<|end_header_id|>

{{ instruction }}<|eot_id|><|start_header_id|>assistant<|end_header_id|>

{{ output }}<|eot_id|>